@use "../utils/" as u;

.product-main-swiper {
  margin-bottom: 4px;

  .product-swiper-slide-main {

    .main-img-container {
      height: 550px;
      background-color: black;

      @include u.tablet-sm {
        height: 360px;
      }
    }
  
    .main-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.product-thumb-swiper {

  .product-swiper-slide-thumb {
    
    .thumb-img-container {
      background-color: black;

      .thumb-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}