@use "../abstracts/colors" as col;
@use "../abstracts/variables" as var;
@use "../utils/" as u;


.header {
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);

  &__top {
    background-color: col.$black-800;

    .content {
      padding: 1rem var.$content-padding;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      font-size: var.$header-top-fz;
      color: col.$header-top-text;
  
      .link {
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid white;
        }
      }

      .help {
  
        &__tel {
          margin-right: 1.4375rem;
        }
      }
    }

  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: col.$black-800;

    .logo {

      @include u.tablet {
        flex-grow: 1;
      }
    }

    @include u.tablet {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}