@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}